$font-base:      'Poppins', sans-serif;

/* Colors */
$gray:          #F1F1F1;
$gray-100:      #E1E1E1;
$gray-200:      #AFAFAF;

$primary:         #902EC5 !default;
$primary-light:   lighten($primary, 15%) !default;
$primary-dark:    darken($primary, 15%) !default;
$secondary:       #24A49A !default;
$secondary-light: lighten($secondary, 15%) !default;
$secondary-dark:  darken($secondary, 15%) !default;
$danger:          #ff2414 !default;

$bg-body:         $gray;


/* Font size */
$large-font-size:  24px;
$middle-font-size:  18px;
$normal-font-size:  16px;
$regilar-font-size:  14px;
$small-font-size:  12px;
$extra-small-font-size:  10px;

/* Container Widths */
$container-widths: (
        mobile: 360px,
        mobile--large: 480px,
        tablet: 720px,
        tablet--large: 960px,
        desktop: 1140px,
);

/* Device break-points */
$grid-breakpoints: (
        reset: 0,
        mobile: 424px,
        mobile--large: 544px,
        tablet: 784px,
        tablet--large: 1024px,
        desktop: 1200px,
);

/* Columns */
$columns: 12;
$column-gap: 2rem;