@include spacing;

body {
    font-family: $font-base;
    margin: 0;
    background-color: $bg-body;
    padding-top: 21px;
}

/* Container */
.container {
    width: 100%;
    padding-right: ($column-gap / 2);
    padding-left: ($column-gap / 2);
    margin-right: auto;
    margin-left: auto;
    @each $breakpoint, $width in $container-widths {
      @include device-up($breakpoint, $grid-breakpoints) {
        max-width: $width;
      }
    }
  }

  /* Column wrap */
.columns {
    display: flex;
    flex-wrap: wrap;
    margin-right: ($column-gap / -2);
    margin-left: ($column-gap / -2);
}


.task-list {
    &--header {
        display: flex;
        align-items: center;
        .list-title {
            font-size: 36px;
        }
        .weekday-settings {
            display: flex;
            align-items: center;
            margin-top: 7px;
            &-manage {
                padding-top: 7px;
                .btn-weekday {
                    width: 100px;
                    font-size: 12px;
                    padding: 3px 0px;
                    margin-left: 21px;
                    display: inline-block;
                    text-align: center;
                }
            }
            &-items {
                padding-top: 30px;
                .day-item {
                    display: inline-block;
                    border: 2px solid $primary;
                    @include size(50px);
                    line-height: 45px;
                    border-radius: 50%;
                    cursor: pointer;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 600;
                    transition: all 400ms ease-in-out;
                    &:not(:last-child) {margin-right: 21px;}

                    &.opted {
                        background: linear-gradient(90deg, $primary, $primary-light);
                        @include animationGradient(3s);
                        background-size: 200% 200%;
                        box-shadow: 0px 4px 14px 2px #c36bd2;
                        color: white;
                        transition: all 400ms ease-in-out;
                    }
                }
            }
        }
    } 
}
.task-item {
    display: flex;
    position: relative;
    &--switch {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &--content {
        flex-grow: 8;
        font-size: 14px;
        & .task-spend-time {
            color: $gray-200;
        }
    }
    &--manage {
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
        & .infinity-icon {
            background: url(/assets/img/infinity.svg);
            display: inline-block;
            @include size(26px, 10px);
            margin-right: 21px;
        }
        & .task-remove {
            background: url(/assets/img/cross.svg) no-repeat;
            display: inline-block;
            @include size(10px);
            cursor: pointer;
        }
    }

    &.task-hidden {
        &::before {
            content: ''; 
            position: absolute;
            left: 0;
            top: 0;
            @include size(100%);
            z-index: 1;
            border-radius: 2px;
            background: linear-gradient(10deg, #0c0c0c, rgba(#0c0c0c, 0.3));
            background-size: 200% 200%;
        }
    }
}