form {

    textarea, 
    input[type=text],
    select {
        background: white;
        border: 0px;
        border-radius: 2px;
        font-size: 14px;
        padding-left: 14px;
        margin-top: 7px;
        &:focus {
            outline: none;
        }
    }

    .task-deskription {
        width: 100%;
        resize: none;
        height: 70px;
        padding: 7px 14px;
    }

    .task-time {
        display: flex;
        &--execution {
            flex: 5;
            margin-right: 14px;
            height: 35px;
        }
        &--value {
            -webkit-appearance: none;
            flex: 2;
            height: 35px;
        }
    }

    ::placeholder { /* Firefox, Chrome, Opera */ 
        color: $gray-100; 
    } 
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
        color: $gray-100; 
    } 
      
    ::-ms-input-placeholder { /* Microsoft Edge */ 
        color: $gray-100; 
    } 
}